[Unit]
Description=Parental Controls Daemon (By Techiesplash)

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/parentald
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target